.large-cards {

  p {
    content: '';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.skill-badge {
  min-width: auto;
  max-width: fit-content;
  margin-left: 16px;
}
