<footer class="footer-distributed">
      <div class="footer-left">
        <%# <h3>Company<span>logo</span></h3> %>
        <a class="footer-brand text-decoration-none">FREELA
        <%= image_tag("Freela.png",  :alt => "logos", :class => "logos-footer") %>
        </a>

        <p class="footer-links">
          <a href="#" class="link-1">Home</a>
          <a href="#">About</a>
          <a href="#">FAQ</a>
        </p>
        <p class="footer-company-name">Company Name © 2024</p>
      </div>
      <div class="footer-center">
        <div>
          <i class="fa fa-map-marker"></i>
          <p><span> IJsbaanpad 9, 1076 CV Amsterdam</span>1076 CV Amsterdam</p>
        </div>
        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@freela.com">support@freela.com</a></p>
        </div>
      </div>
      <div class="footer-right">
        <p class="footer-company-about">
          <span>Freela is a collaborative platform for coders to connect, share knowledge, and work on projects together.
                Join us to be part of a vibrant developer community pushing the boundaries of technolog.</span>
        </p>
        <div class="footer-icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          <a href="#"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
    </footer>
