<div>
  <nav class="navbar-lewagon navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FREELA
      <%= image_tag("Freelaaa.png",  :alt => "logos", :class => "logos") %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-decoration-none" aria-current="page"  href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none" aria-current="page" href="/projects/new">Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-decoration-none" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <a class="nav-link text-decoration-none" href="/dashboard">Profile
              <i class="fa-regular fa-user"></i>
              </a>
            <% end %>
          </li>
          </ul>
          <nav class="nav-item">
            <% unless current_page?(new_user_session_path) %>
              <% if user_signed_in? %>
                  <a class="nav-link text-decoration-none"> <%= link_to 'Log Out ', destroy_user_session_path, method: :delete, data: { turbo_method: 'delete' }, class: 'out-button' %> </a>
              <% else %>
                <a a class="nav-link text-decoration-none"> <%= link_to 'Login ', new_user_session_path, class: 'enter-button' %>
              <% end %>
            <% end %>
          </nav>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Find a project!" aria-label="Search">
          <button class="btn btn-light " type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
