<div class="container py-3">
  <h1>Dashboard</h1>
  <h2>My Projects</h2>
  <div class="row">
    <% @projects.each do |project| %>
      <%= render "components/card_large", project: project %>
    <% end %>
  </div>
</div>

<div class="container py-3">
  <h2>My Collaborations</h2>
  <div class="row">
    <% @collaborations.each do |collab| %>
      <%= render "components/collab_card", collaboration: collab %>
    <% end %>
  </div>
</div>
