<div class="container py-3">
  <h1>Dashboard</h1>
  <h2>My Projects</h2>
  <div class="row">
    <% @projects.each do |project| %>
      <%= render "components/card_large", project: project %>
    <% end %>
  </div>
</div>

  <h2>----Collaboration</h2>
  <% @collaborations.each do |collab| %>
    <h4> <%= collab.project.name %> </h4>
    <h3> <%= collab.project.description %> </h3>
    <h3> <%= collab.project.skill %> </h3>
  <% end %>
</div>
