<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Welcome to <strong>Freela</strong>!</h1>
    <p>Browse through interesting start-up ideas, find a match and collaborate!</p>
    <div class="col-sm-10">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for a project by category" aria-label="Search bar" aria-describedby="button-addon2">
        <button class="btn btn-primary btn-lg" type="button" id="button-addon2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 d-flex flex-column">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p class="details">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    <p><a class="btn btn-secondary align-self-baseline" href="#" role="button" id="fbtn">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 d-flex flex-column">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p class="details">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    <p><a class="btn btn-secondary align-self-end" href="#" role="button">View details »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 d-flex flex-column">
    <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
    <p class="details">Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-secondary align-self-end" href="#" role="button">View details »</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Start-ups:<span class="text-muted"> Stick to your budget</span></h2>
      <p class="lead">Find the right service for every price point. No hourly rates, just project-based pricing. Don't have a lot of room for budget? Offer a partnership or profit shareholding instead! Developers might be looking for cool projects to contribute in exchange for market experience and practice.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "content-pixie-0z7dmskP70E-unsplash.jpg", alt: "Movie icon",  class:"featurette-image img-fluid mx-auto" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Developers: <span class="text-muted"> Finds what is interesting for you</span></h2>
      <p class="lead">Find project ideas that you find interesting and you would like to collaborate. Perhaps the next million-dollar idea is sitting right in front of you!</p>
    </div>
    <div class="col-md-5 order-md-1" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500">
      <%= image_tag "toa-heftiba-kRwu0xbHBlA-unsplash.jpg", alt: "Movie icon",  class:"featurette-image img-fluid mx-auto" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Is it a match? <span class="text-muted">Let's start working!</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "zan-lazarevic-AmEeEB1g3XQ-unsplash.jpg", alt: "Movie icon", class:"featurette-image img-fluid mx-auto" %>
  </div>

  <hr class="featurette-divider">

</div>
