<div class="container pb-3">
  <div class="containerr">
    <hr class="featurette-divider">
    <div class="image-n-title pb-3">
      <h1 class="proheader">Profile</h1>
        <div class="profile-images-div">
            <%= image_tag "https://source.unsplash.com/random/?{user}", alt: "Profile icon", class:"profile-pic", height:"180" %>
        </div>
    </div>
    <div class="personal-detailsss">
    <h2 class="mineinfo">About Me</h2>
    <hr class="featurette-divider">
      <div class="container pb-3">

        <div class="user-informations d-flex justify-content-between">
          <div class="personal-details">

              <div class="full-name">
                <h3>Ahmed</h3>
                <h3>Musa</h3>
              </div>
              <div class="details-title">
              <h5>E-mail</h5>
              </div>

              <div class="user-mail">
                <h5><%= @user.email %></h5>
              </div>
              <div class="details-title">
                <h5>Skills</h5>
              </div>
              <ul class="user-skills">
                <li class="user-skill">
                  <a>Front-End Development</a>
                </li>
                <li class="user-skill">
                  <a>UX/UI Design</a>
                </li>
                <li class="user-skill">
                  <a>Graphic Design</a>
                </li>
              </ul>
              <div class="details-title">
              <h5>Mora About Me</h5>
              </div>
              <div class="personal-details">ajkdskhnfsçh jhfjöa sdajlk jnakçhshdj öhkmahs dhash naöbmd hasjkd hsaj ndöas dasd haös dknhmjçöh mahç mjfçhdsa hdajshdjaks hjkhjkh jkh jkhlk hjlkhaklgdjk j </div>

          </div>


        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</div>
