<div class="row">
  <% @projects.each_with_index do |project, index| %>
    <div class="card-product col-lg-5 m-3 flex-grow-1 rounded-5">
      <%= image_tag "https://source.unsplash.com/random?sig=#{index}", alt: "Movie icon", style: "width: 25%; height: 100%;" %>
      <div class="card-product-infos">
        <span class=" text-black fw-bold"><%= project.name %></span>
        <span class="user-name"><%= project.user.email %></span>
        <p><%= project.skill %></p>
      </div>
    </div>
  <%end %>
</div>
