<div class="card">
  <img src="img_project.png" alt="Project" style="width:100px">
  <div class="container">
    <div class ="text">
      <div class="avatar">
        <img src="useravatar.png" alt="User" style="width:50px">
        <p>Firstname Lastname</p>
      </div>
      <p>Projectname</p>
    </div>
    <p>text</p>
  </div>
</div>
