<div class="card-projects">
  <img class="image-projects" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Project" style="width:100px">
  <div class="container-projects">
    <div class ="text-detail">
      <div class="avatar-images">
        <img class="image-user" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="User" style="width:50px">
        <p>Firstname Lastname</p>
      </div>
      <p>Projectname</p>
    </div>
    <div>
      <p class="project-details">donekladşl kaj lkdjakj shdjkash kasghj gdajsjg jadsg ja</p>
      <p class="require-skills">skills kjkajdla sadaskjdka </p></div>
    </div>
</div>
