.btn {
  border-radius: 8px;
  background-color: white;
  color: #FFFFFF8C;
}

.out-button {
  margin: 10px;
  text-decoration: none;
  color: #FFFFFF8C;
}

.enter-button{
  margin: 10px;
  color: #FFFFFF8C;
}

.btn {
  background-color: #EB3565;
  border-color: #EB3565;
  color: white;
  font-weight: 600;


  &:hover {
    background-color: #484747;
    border-color: #484747;
    transition: 0.3s ease;
  }
}
