.card-projects {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px -1px 2px black
}

.container-projects {
  margin-top: 3px;

}

.card-header{
  background-color: #EB3565;
}

//-----project index
.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  padding: 0;
  align-items: center;
}

.card-product p {
  // min-width: auto;
  // max-width: fit-content;
  // margin-left: 16px;
  color:#ff0346;
  background-color: #e6e6e6;
}
.card-product:hover{
  transform: scale(1.05);
  will-change: transform;
  transition: box-shadow .3s;
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  margin: 0;

}

.card-product img {
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
////

// .card-proj:hover{
//   border: 2px solid transparent;
//   transform: scale(1.05);
//   will-change: transform;
//   // transition: box-shadow .3s;
//   box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5)  box-shadow .3s;
// }

// .card-skills{
//   color: #eb35665c;
// }

// .card-skills:hover{
//   color: #EB3565;
// }

// .user-name{
//   color: #C7C8C9;
// }

.text-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.avatar-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.image-project {
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.image-user {
  border-radius: 50%;
}

.detilskill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectinfo {
  font-size: 15px;
  text-decoration: none;
}

.userinfo {
  font-size: 10px;
  text-decoration: none;
}

.projectitle {
  font-size: 15px;
  text-decoration: none;
}
