.navbar-lewagon {
  justify-content: space-between;
  background: white;
  top: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item {
  margin-left: 5px;
}
