.image-n-title {
  width: 50%;
}

.containerr {
  display: flex;
  justify-content: center;
}

.mineinfo {
  display: flex;
  justify-content: center;
  color:  #EB3565;
}

.profile-images-div {
  display: flex;
  justify-content: center;
  text-align: center;
}

.proheader {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  color:  #EB3565;
}

.personal-detailsss {
  width: 50%;
  margin-top: 40px;
}

.full-name {
  display: flex;
  justify-content: left;
}

.project-img {
  border-radius: 3px;
  height: 40px;
}

.user-skill {
  display: flex;
  justify-content: left;
}


.user-mail {
  display: flex;
  justify-content: left;
}

.personal-details {
  width: 500px;
  text-align: left;
}

.profile-pic {
  border-radius: 30px;
  width: 70%;
  object-fit: cover;
  object-position: 70% 30%;
  box-shadow: 1px 1px 3px black;
  margin-top: 35px;
}

.details-title {
  color:  #EB3565;
  margin-left: 30px;
}

.user-skills {
  padding-left: 0px;
}

.first-name {
  margin-right: 12px;
}
